<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cur_title %> - <%= global_title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/v/myresources.css">
    <script src="/v/myresources.js"></script>
</head>



<body>
    <%- include("_components/header.ejs") %>
    <div class="main-body">
        <%- include("_components/myresourcelist.ejs") %>
    </div>
</body>

</html>